<h3 id="dolci">Dolci</h3>
<div class="dolci row">
  <div class="row">
    <div *ngFor="let item of ricetteDolci" class="card mx-auto col-md-4 mb-3">
      <img src="{{item.imagePath}}" class="card-img img-fluid" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <div class="accordion accordion-flush">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Clicca qui per le istruzioni
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body" *ngFor="let ingredient of item.ingredients">{{ingredient}}</div>
            </div>
          </div>
        </div>
      </ul>
      <div class="card-body">
        <div class="accordion accordion-flush">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Clicca qui per le istruzioni
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
