@font-face {
    font-family: my_font;
    src: url(/assets/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

.navbar {
    font-family: my_font;
    font-size: 20pt;
    height: 5%;
    line-height: normal;
    position: relative;
}.dropdown-menu{
    font-size: 17pt;
}.form-control{
    font-size: 17pt;
}.search{
    width: 15%;
}

